<% html_title 'Daily Scrum' %>

<h2>Daily Scrum</h2>
<div class="contextual">
  <% if User.current.allowed_to? :edit_daily_scrum, @project or User.current.allowed_to? :edit_own_daily_scrum, @project  %>
    <%= link_to 'Edit', url_for(:action => :edit, :project_id => @project.identifier, :date => @date), :class => 'icon icon-edit' %> | 
  <% end %>
   <%= link_to "\xc2\xab " + l(:label_previous), :action => :index, :project_id => @project.identifier, :date => @date - 1.day %>
  <% if @date < Date.today %>
  <%= link_to(" | " + l(:label_next) + " \xc2\xbb", :action => :index, :project_id => @project.identifier, :date => @date + 1.day)%>
  <% end %>
  <%= hidden_field_tag :date, @date, :onchange => 'window.location.href = "daily_scrum?date=" + document.getElementById("date").value' %>
  <%= calendar_for :date %>
</div>
<p><em><%= @date %></em>

<% if @daily_scrums.any? %>
  <% @daily_scrums.each do |scrum| %>
    <%= render :partial => 'daily_scrum', :locals => { :scrum => scrum } %>
  <% end %>
<% else %>
  <%= "<p class=\"nodata\">#{l(:label_no_data)}</p>".html_safe() %>
<% end %>